body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  
  vertical-align: middle;
  border: none;
}

.main-header {
  background-color: #eeeeee;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  padding-top: 49px;

  line-height: 30px;
}

.header-logo {
  display: block;

  width: 160px;
  height: 65px;

  margin-right: auto;
}

.header-logo-inner:hover {
  opacity: 0.8;
}

.header-logo-inner:active {
  opacity: 0.3;
}

.site-navigation {
  -ms-flex-preferred-size: 440px;
      flex-basis: 440px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.user-navigation {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: block;

  padding: 7px 0;

  font-weight: 500;

  color: #000000;
  text-transform: uppercase;
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation .active,
.user-navigation .active {
  font-weight: 500;

  color: #000000;
  text-transform: uppercase;

  border-bottom: 2px solid #fb565a;
}

.user-navigation .cart {
  position: relative;
  padding-left: 50px;
}

.cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 10px;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;
  
  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 92px 0;
}

.slider-item:first-child {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 17px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:last-child {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:first-child {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:last-child {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  margin: 0;
  margin-bottom: 26px;

  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider-item .slider-header-one {
   padding-right: 730px;
}

.slider-item .slider-header-two {
   padding-right: 600px;
}

.slider-item .slider-header-three {
   padding-right: 730px;
}

.slider-item p {
  margin: 0;
  margin-bottom: 51px;
  padding-right: 722px;
}

.slider-button {
  padding: 15px 55px;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-button:hover {
  background-color: #e74246;
}

.slider-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.services {
  margin-bottom: 75px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 80px 60px 93px 0;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 93px;

  list-style: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.services-item {
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding-top: 172px;
}

.services-item h3 {
  position: relative;

  margin: 0;
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 30px;
  color: #000000;

  text-transform: uppercase;
}

.services-item h3::before {
  content: "";

  position: absolute;
  bottom: 55px;
  left: 0;

  width: 300px;
  height: 146px;
}

.services-item-one h3::before {
  background-color: #fb565a;
  background-image: url("../img/web-sites.jpg");
  background-repeat: no-repeat;
}

.services-item-two h3::before {
  background-color: #00ca74;
  background-image: url("../img/applications.jpg");
  background-repeat: no-repeat;
}

.services-item-three h3::before {
  background-color: #efc84a;
  background-image: url("../img/presentations.jpg");
  background-repeat: no-repeat;
}

.services-item p {
  margin: 0;
  margin-bottom: 45px;
  padding-right: 20px;
}

.services-button {
  padding: 15px 40px;

  border-radius: 3px;
  border: none;
}

.services-button-one {
  background-color: #fb565a;
}

.services-button-one:hover {
  background-color: #e74246;
}

.services-button-one:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.services-button-two {
  background-color: #00ca74;
}

.services-button-two:hover {
  background-color: #00bc6c;
}

.services-button-two:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.services-button-three {
  background-color: #efc84a;
}

.services-button-three:hover {
  background-color: #eab534;
}

.services-button-three:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.description {
  margin-right: auto;
  padding-right: 475px;
}

.description h1 {
  position: relative;

  margin: 0;
  margin-bottom: 32px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;

  color: #000000;
}

.description h1::after {
  content: "";

  position: absolute;
 top: -35px;
  left: 800px;

  width: 360px;
  height: 208px;

  background-color: #ffffff;
  background-image: url("../img/nerds-studio.png");
  background-repeat: no-repeat;
}

.description p {
  margin: 0;
  margin-bottom: 40px;
}

.about-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding-bottom: 50px;

  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.orders {
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: auto;

  max-width: 450px; /* for IE 11 */
}

.numbers {
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;

  max-width: 360px; /* for IE 11 */
}

.orders b,
.numbers b {
  display: block;

  font-weight: 700;
  text-transform: uppercase;
}

.orders b {
  margin-bottom: 23px;
}

.order-list,
.numbers-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.order-item {
  position: relative;

  margin-bottom: 24px;
  padding-left: 35px;
}

.order-item::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 1px;

  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.numbers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.numbers-item {
  -ms-flex-preferred-size: 120px;
      flex-basis: 120px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.numbers b {
  margin-bottom: 50px;
  padding-left: 15px;
}

.numbers-item p {
  margin: 0;
  margin-bottom: 30px;
  padding-right: 15px;

  font-size: 45px;
  font-weight: 700;
}

.numbers-item sup {
  vertical-align: middle;
  font-size: 25px;
  font-weight: 400;
}

.numbers-item span {
  display: block;

  padding-right: 15px;

  line-height: 18px;
}

.logotypes {
  margin-bottom: 80px;
}

.logo-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 35px;

  list-style: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.logo-item {
  position: relative;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;

  text-align: center;
}

.logo-link {
  opacity: 0.2;
}

.logo-link:hover {
  opacity: 1;
}

.logo-link:active {
  opacity: 0.1;
}

.location-container {
  width: 1440px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map {
  display: block;
  position: relative;

  border: 0;
}

.contacts {
  position: absolute;

  width: 319px;
  min-height: 308px;

  margin-top: -362px;
  margin-right: auto;
  padding: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #ffffff;
}

.contacts h3 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 30px;

  color: #000000;

  text-transform: uppercase;
}

.contacts .address {
  margin: 0;
  margin-bottom: 18px;

  line-height: 18px;

  color: #666666;
}

.contacts .phone {
  margin: 0;
  margin-bottom: 50px;

  line-height: 18px;

  color: #666666;
}

.contacts-button {
  padding: 15px 44px;

  border-radius: 3px;
  border: none;
  background-color: #fb565a;
}

.contacts-button:hover {
  background-color: #e74246;
}

.contacts-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.page-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  width: 260px;

  margin: 0;
  
  padding: 0;

  text-align: center;

  list-style: none;
}

.promo {
  margin-left: auto;
  padding-right: 220px;
}

.promo-intro {
  display: block;

  margin-top: 5px;
  margin-bottom: 10px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 700;

  color: #000000;
}

.promo-social {
  margin: 0;

  line-height: 22px;

  color: #444444;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 80px;
  height: 78px;

  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;

  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;

          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

/* Modal form */

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
}

.modal {
  position: fixed;
  top: 190px;
  left: 50%;

  display: none;

  margin-left: -480px;

  width: 960px;
  padding: 68px 100px 85px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: #000000;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;

          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 78px;
  right: 90px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  border: 0;
  opacity: 0.3;

  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal .contact-us {
  margin: 0;
  margin-bottom: 40px;
  padding-right: 50px;


  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.contact-item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-item-group .contact-item {
  -ms-flex-preferred-size: 360px;
      flex-basis: 360px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.contact-item label {
  display: block;

  margin-bottom: 10px;

  line-height: 18px;
  font-weight: 700;
}

.contact-item:first-child input,
.contact-item:nth-child(2) input {
  width: 360px;

  padding: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: #444444;
  opacity: 0.5;   

  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.contact-item:first-child input:hover,
.contact-item:nth-child(2) input:hover {
  border: 2px solid #b4b9bb;
}

.contact-item:first-child input:focus,
.contact-item:nth-child(2) input:focus {
  border: 2px solid #000000;
  outline: none;

  opacity: 1;
}

.contact-item:first-child input:invalid,
.contact-item:nth-child(2) input:invalid {
  border: 2px solid #e74246;

  color: #e74246;
  opacity: 1;
}

.contact-item textarea {
  width: 100%;

  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: #444444;
  opacity: 0.5; 

  border: 2px solid #d7dcde;
  border-radius: 2px;
}

.contact-item textarea:hover {
  border: 2px solid #b4b9bb;
}

.contact-item textarea:focus {
  border: 2px solid #000000;
  outline: none;

  opacity: 1;
}

.contact-form .contact-item {
  margin-bottom: 35px;
}

.modal-button {
  padding: 16px 84px;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.modal-button:hover {
  background-color: #e74246;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

/* Styles for catalog page */

.container .shop-info {
  background-color: #eeeeee;
}

.shop-info {
  background-color: #eeeeee;
}

.shop-info h1 {
  margin: 0;
  padding: 80px 50px 107px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  color: #000000;
  text-align: center;
}

.search-layout {
  width: 260px;
}

.search {
  padding-top: 55px;
}

.search-layout fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  border: none;
}

.search-layout fieldset:first-child {
  margin-bottom: 50px;
}

.search-layout fieldset:nth-child(2) {
  margin-bottom: 27px;
}

.search-layout ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-range-title,
.filter-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;

  color: #000000;

  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 50px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  
  background-color: #f1f1f1;
  
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 23px;

  cursor: pointer;
}

.range-toggle-min {
  top: 30px;
  left: 15px;
}

.range-toggle-max {
  top: 30px;
  left: 65%;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  line-height: 22px;

  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.price-max {
  text-align: right;
}

.filter-title {
  margin-bottom: 15px;
}

.search-option-radio {
  position: relative;

  margin-bottom: 20px;
  padding-left: 37px;
}

.search-option label {
  position: relative;
  display: block;

  line-height: 20px;

  cursor: pointer;
}

.search-option-radio label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -36px;

  width: 25px;
  height: 25px;

  background-color: transparent;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;

  opacity: 0.4;
}

.search-option-radio input:checked + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -36px;

  width: 25px;
  height: 25px;

  background-color: transparent;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;

  opacity: 0.4;
}

.search-option-radio input:hover + label::before {
  opacity: 1;
}

.search-option-radio input:disabled + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -36px;

  width: 25px;
  height: 25px;

  background-color: transparent;
  background-image: url("../img/radio-off-disabled.svg");
  background-repeat: no-repeat;
}

.search-option-checkbox {
  position: relative;

  margin-bottom: 20px;
  padding-left: 37px;
}

.search-option-checkbox label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -36px;

  width: 23px;
  height: 23px;

  background-color: transparent;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;

  opacity: 0.4;
}

.search-option-checkbox input:checked + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -36px;

  width: 27px;
  height: 23px;

  background-color: transparent;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;

  opacity: 0.4;
}

.search-option-checkbox input:hover + label::before {
  opacity: 1;
}

.search-option-checkbox input:disabled + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -36px;

  width: 23px;
  height: 23px;

  background-color: transparent;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
}

.search-input:hover + label {
  color: #000000;
}

.search-input:disabled + label {
  color: #283136;

  opacity: 0.3;
}

.show-button {
  padding: 16px 90px;

  color: #000000;

  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
}

.show-button:hover {
  background-color: #dfdfdf;
}

.show-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d5d5d5;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.catalog-сolumn {
  width: 760px;
}

.container-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  padding: 55px 0;
}

.sorting b {
  display: block;
  margin: 0;
  margin-right: auto;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  text-transform: uppercase;

  color: #000000;
}

.sort-by-list {
  margin: 0;
  margin-left: 265px;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;

  font-size: 14px;
  line-height: 21px;

  list-style: none;
  text-transform: uppercase;
}

.sort-by-item {
  margin-right: 25px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.sort-by-list a {
  color: rgba(0, 0, 0, 0.3);
}

.sort-by-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-by-list a:active {
  color: rgb(0, 0, 0);
}

.sort-by-list .active a {
  color: rgb(0, 0, 0);
}

.sort-value-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;

  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-left: 20px;

  list-style: none;
}

.sort-value-list li:nth-child(2) {
  margin-left: 18px;
}

.sort-value {
  cursor: pointer;
}

.sort-value svg {
  fill: rgba(0, 0, 0, 0.2);
}

.sort-value:hover svg {
  fill: #a6a6a6;
}

.sort-value:active svg {
  fill: #000000;
}

.sort-value.active svg {
  fill: #000000;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 360px;
  margin-bottom: 33px;
  margin-right: 40px;
  padding-top: 40px;
}

.catalog-item::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 0px;

  width: 360px;
  height: 40px;

  background-color: transparent;
  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;

  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item:hover {
  -webkit-box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.25); 
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.layout-info h3 {
  margin: 0;

  margin-bottom: 15px;
}

.layout-name {
  font-size: 18px;
  line-height: 30px; 

  color: #000000;

  text-transform: uppercase;
}

.layout-description {
  margin: 0;
  margin-bottom: 45px;

  line-height: 18px;

  color: #666666;
}

.layout-info {
  display: none;

  position: absolute;
  bottom: 0;

  width: 360px;
  padding: 25px 60px 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  background-color: #eeeeee;

  text-align: center;
}

.catalog-item:hover .layout-info,
.catalog-item:focus-within .layout-info{
  display: block;
}

.layout-button {
  padding: 15px 60px;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.layout-button:hover {
  background-color: #e74246;
}

.layout-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.layout-img {
  display: block;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 15px 21px;

  line-height: 18px;
  font-weight: 500;

  color: #000000;

  background-color: #eeeeee;
  border-radius: 3px;

  text-transform: uppercase;
}

.pagination-item:last-child a {
  padding: 15px 78px;
}

.pagination-item a:hover {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
          box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1) inset;
}

.pagination-item .current {
  color: #000000;

  padding: 12px 18px;

  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  border-radius: 3px;
}

.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
